/*==============RESET===================*/

:root {
  --green: #cee741;
  --violet: #5c3680;
  --orange: #f35a3c;
  --blue: #0071ab;
  --yellow: #feda00;
  --white: #ffffff;
  --gray: #828c93;
  --facebook: rgb(59, 89, 152);
  --twitter: #00acee;
  --title-color: #1b1b1b;
  --text-color: #444;
  --label-color: #767d84;
  --box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);

  --xxl: 1400px;
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px;
  --xs: 425px;

  --text-size: 1.385rem;
  --title-size: 2.5rem;
  --title-size-md: 2.1rem;
  --title-size-sd: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--title-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
}

h1,
h2 {
  font-size: var(--title-size);
}

ul {
  list-style: none;
  padding: 0;
}

ol,
ul {
  padding: 0 !important;
  margin: 0 !important;
}

p {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: #0198bd;
}

img {
  height: auto;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
}

.container-my {
  max-width: 100%;
  margin: 0 auto;
}

.container-sec {
  max-width: 100%;
  margin: 0 auto;
}

.content__main {
  background-color: #ffffff;
}

.adv__content {
  background-color: #ffffff;
}

.nostyle-link {
  text-decoration: none;
  color: inherit;
}

.label {
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.763);
  font-style: italic;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

/*===========HEADER==========*/

.header {
  box-shadow: var(--box-shadow);
  padding: 0.4rem 0;

  background-color: #000;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__play {
  margin-left: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__play i {
  font-size: 1.5rem;
}

.header__burger {
  display: none;
}

.fa-bars {
  font-size: 2rem;
  color: #fff;

  padding: 1rem;
}

.header__logo {
  max-width: 80%;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 2rem;
}

.nav__item {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
}

.nav__item:hover {
  color: #01cfff;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__input {
}

.nav__input input {
  width: 500px;
  border: 1px solid #828c93;
  outline: none;
  border-radius: 5px;
  padding: 4px 10px;
}

.nav__media {
  display: flex;
  gap: 1.2rem;
  flex: 1 1 20%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem !important;
  color: #fff;
}

.nav__media li {
  font-size: 1.4rem;
}

/*==============BREADCR=============*/

.pre-content {
  background-color: #0198bd;
}

.pre-content__row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: space-between;
  padding: 0.5rem 1rem !important;
}

.pre-content__item {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.pre-content__item a {
  color: #fff;
  transition: 0.3s;
}

.pre-content__item a:hover {
  color: #01cfff;
}

/*=====================*/

.content__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__main {
  flex: 1 1 66%;
}

.adv__content {
  flex: 1 1 34%;
}

/*==============CHECK==============*/

.check {
  box-shadow: var(--box-shadow);
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif !important;
}

.check__wrapper {
  padding: 0.5rem;
}

.check__top {
}

.check__iban {
  margin-bottom: 1rem;
  display: block;
  font-weight: 500;
}

.check__top-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.check__top-col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
}

.check__top-col-1-row {
  display: flex;
  flex-direction: column;
}

.check__top-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.check__bot {
  border-bottom: 3px solid #000;
}

.check__bot-grid {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.check__bot-grid-col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #000;
}

.check__bot-grid-col-title {
  font-weight: 500;
  background-color: rgba(128, 128, 128, 0.39);
  border-right: 1px solid #000;
  border-bottom: 3px solid #000;
  padding-left: 2px;
}

.check__thanks {
  text-align: right;
  display: block;
  margin: 0.5rem 2rem;
}

/*=========CHECKMQ=======*/

@media (max-width: 1200px) {
  .check {
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .check {
    font-size: 0.6rem;
  }
}

@media (max-width: 992px) {
  .check {
    font-size: 1rem;
  }
}

/*================MAIN=============*/

.main__title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: #000;
}

.main__article {
  font-size: 1.7rem;
  font-style: italic;
  color: #000;
  margin-bottom: 1rem;
}

.main__type {
  font-size: 1rem;
  font-weight: 500;
  color: #1b1b1b9e;
}

.main__by {
  display: flex;
  justify-content: space-between;
  color: rgba(68, 68, 68, 0.479);
}

.main__breadcr {
  margin-top: 1rem;
  border-bottom: 4px solid #0198bd;
  padding-bottom: 1rem;
}

.main__by-text span {
  color: #0198bd;
}

.main__by-data {
  margin-bottom: 2rem;
  display: block;
  font-weight: 700;
}

.main__by-data span {
  font-weight: normal;
}

.fa-clock {
  color: #0198bd;
  margin: 0 0.5rem;
}

/*=============INFO================*/

.info {
  margin-top: 2rem;
  font-size: 17px;
  color: var(--text-color);
  position: relative;
}

.info-col {
  position: absolute;
  left: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.3rem;
}

.info-col__block {
  background-color: #0198bd;
  color: #fff;
  padding: 1rem;
}

.info__row {
  display: flex;
  margin-top: 1rem;
}

.info__subtitle {
  font-size: 1.5rem;
}

.info__text {
  margin-bottom: 1rem;
}

.info__text a:hover {
  color: var(--blue);
}

.info__text span {
  font-weight: 700;
  color: #000;
}

.info__important {
  border-left: 4px solid rgb(59, 89, 152);
  padding-left: 0.385rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.info__important a {
  color: rgb(59, 89, 152);
}

.img__label {
  text-align: center;
  display: block;
  font-size: 1.2rem;
  font-style: italic;
  color: rgba(68, 68, 68, 0.486);
  margin-bottom: 1rem;
}

.info__important span {
  color: #000;
  font-weight: 700;
}

.button-link {
  background-color: #3b5998;
  color: white !important;
  padding: 15px;
  margin-top: 30px;
  display: block;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.button-link:hover {
  color: #fff;
  background-color: #444;
}

/*=========STEPS==============*/

.steps__title {
  margin-top: 1rem;
  font-weight: 700;
}

.steps__text {
  font-size: 17px;
  border-left: 4px solid #0198bd;
  padding: 0.385rem;
  line-height: 26px;
  font-size: 17px;
}

.steps__text a:hover {
  color: #e02e3d;
}

.steps__text span {
  color: #0198bd;
  font-weight: 700;
}

.steps__important {
  font-size: 18px;
  font-style: italic;
  border-left: 8px solid #0198bd;
  padding-left: 1rem;
}

.steps__important span {
  font-weight: 700;
}

.steps__important a {
  color: #0198bd;
}

.steps__important a:hover {
  color: rgb(59, 89, 152);
}

.steps__img {
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
}

.steps__img-chel {
  margin: 0 auto;
  display: block;
}

/*===========BENEFITS============*/

.benefits {
  margin-top: 1rem;
  font-size: 17px;
}

.benefits__title {
  margin: 1rem 0;
  font-weight: 700;
}

.benefits__list {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.benefits__item {
  margin-bottom: 1rem;
}

.benefits__item a {
  color: #0198bd;
  font-weight: normal;
  text-decoration: underline;
}

.benefits__item span {
  font-size: 18px;
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

.benefits__item span img {
  margin-right: 0.5rem;
}

/*==========TABLE============*/

.table {
  background: rgb(253, 255, 255);
  background: linear-gradient(
    94deg,
    rgba(253, 255, 255, 1) 1%,
    rgba(255, 255, 255, 1) 50%,
    rgba(253, 255, 255, 1) 100%
  );

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  max-width: 80% !important;
  margin: 2rem auto;
  padding: 1rem 1rem 1rem 2.5rem;
  border-radius: 5px;
}
.table-rows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.table__title {
  color: rgb(59, 89, 152);
  font-weight: 700;
  font-size: 2rem;
  border-bottom: 1px solid;
  padding: 5px;
}

.table-block__flex {
  max-width: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.table-block__flex-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.table-block__flex-container-num {
  color: rgb(59, 89, 152);
  font-size: 3.5rem;
  font-weight: 700;
  padding: 0 !important;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-table {
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  padding: 0;
  position: absolute;
  bottom: -20%;
  font-style: italic;
  text-align: center;
}
.table-block__flex-container-text {
  font-weight: 700;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align-last: left;
  line-height: 20px;
}

.big-text {
  font-size: 3rem;
  margin-left: 1rem;
  color: #000000e4;
}

/*=========REG=============*/

.reg {
  margin-top: 1rem;
  line-height: 30px;
}
.reg__title {
  font-weight: 700;
}
.reg__list {
  max-width: 80%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.reg__list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reg__item {
  line-height: 30px;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 18px;
}
.reg__item img {
  margin-right: 0.5rem;
}
.reg__item a {
  color: var(--blue);
  font-weight: 700;
}
.reg__item a:hover {
  color: rgb(59, 89, 152);
}

/*==========TAGS================*/

.tags {
  margin-top: 3rem;
  font-size: var(--text-size);
}

.tags__row {
  display: flex;
  gap: 0.5rem;
}

.tags__title {
  font-weight: 700;
}

.tags__row a {
  color: #444;
}

.tags__block:hover {
  color: var(--blue);
}

/*=============COMMENTS==============*/

.comment {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.comment-line {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-left: 1rem;
  font-family: var(--guardian-medium);
}

.comment-line:after {
  margin-top: 0.5rem;
  content: "";
  display: block;
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #2c2c2c;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.comment-block {
  margin: 1rem 1rem;
  display: flex;
  justify-content: flex-start;
}

.block-avatar {
  margin-right: 1rem;
}

.block-avatar img {
  border-radius: 50%;
}

.block-info-comment__name {
  font-weight: 700;
  color: rgb(59, 89, 152);
}

.block-info-line {
  display: flex;
  flex-direction: column;
}

.block-info-line__date {
  font-weight: 700;
}

.block-info-line__like {
  display: flex;
  justify-content: flex-start;
  color: #00acee;
}

.block-info-line__like_item {
  list-style: none;
  margin-right: 1rem;
}

.block-info-line__like_item a {
  color: rgb(59, 89, 152);
}

.comments__more {
  display: block;
  margin: 0 auto;
  color: rgb(59, 89, 152);
}

/*============ADVBLOCK===========*/

.adv__img {
  float: left;
}

.adv__row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.adv__title {
  color: #38a3d7;
  font-weight: normal;
}

.adv__block {
  border-bottom: 1px solid rgba(68, 68, 68, 0.404);
}

.adv__block span {
  font-size: 0.7rem;
  font-weight: 700;
}

.adv__by {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: rgba(68, 68, 68, 0.418);
}

.adv__info {
  color: #000;
  font-size: 1.1rem;
  margin-bottom: 0;
}

/*==========RECOMMEND=========*/

.recommend__title {
  text-align: center;
  color: #0198bd;
}

.recommend__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.recommend__row a {
  color: #444;
}

.recommend__block {
  display: flex;
  flex-direction: column;
}

.recommend__img {
  max-width: 100%;
}

/*==========FOOTER===========*/

.footer {
  background-color: #000;
  margin-top: 2rem;
}

.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer__item {
  color: #fff;
}

.footer__copy {
  color: #fff;
}

/*========MEDIA QUERIES==========*/

@media (max-width: 1400px) {
  .header__item {
    font-size: 0.8rem;
  }

  .pre-content__item a {
    font-size: 1rem;
  }

  .nav__item {
    font-size: 1rem;
  }
}

@media (max-width: 1200px) {
  .pre-content__item:nth-child(1) {
    display: none;
  }

  .pre-content__item:nth-child(2) {
    display: none;
  }

  .header__nav a:nth-child(10) {
    display: none;
  }

  .header__nav a:nth-child(7) {
    display: none;
  }
}

@media (max-width: 1024px) {
  .pre-content__row {
    gap: 0.5rem;
  }

  .nav__list a:nth-child(4) {
    display: none;
  }

  .nav__list a:nth-child(5) {
    display: none;
  }

  .nav__list a:nth-child(7) {
    display: none;
  }

  .nav__list a:nth-child(8) {
    display: none;
  }

  .header__nav a:nth-child(9) {
    display: none;
  }

  .reg__list {
    font-size: var(--title-size-md);
    font-weight: 700;
  }
}

@media (max-width: 992px) {
  .container-my {
    max-width: 90%;
  }

  .container-sec {
    max-width: 90%;
  }

  .info-col {
    left: -15%;
  }

  .info-col__block {
    padding: 0.3rem;
  }

  .breadcr__item {
    font-size: 0.8rem;
  }

  .header__nav a:nth-child(8) {
    display: none;
  }

  .pre-content__item:nth-child(10) {
    display: none;
  }

  .main__title {
    font-size: 2rem;
  }

  .nav__input input {
    width: 300px;
  }

  .fa-facebook-f {
    padding: 0.5rem;
  }

  .fa-twitter {
    padding: 0.5rem;
  }
}

@media (max-width: 768px) {
  .info-col {
    display: none;
  }

  .main {
    margin-top: 0;
    padding-top: 0;
  }

  .main__title {
    margin-top: 0;
  }

  .main__article {
    font-size: 1.3rem;
  }

  .info__subtitle {
    font-size: 1.2rem;
  }

  .read__title {
    font-size: 1rem;
  }

  .adv__content {
    display: none;
  }

  .header {
    padding: 0 2rem;
  }

  .header__adv {
    display: none;
  }

  .header__play {
    display: none;
  }

  .header__nav a:nth-child(2) {
    display: none;
  }

  .header__nav a:nth-child(3) {
    display: none;
  }

  .header__nav a:nth-child(4) {
    display: none;
  }

  .header__nav a:nth-child(5) {
    display: none;
  }

  .header__nav a:nth-child(6) {
    display: none;
  }

  .pre-content__item:nth-child(3) {
    display: none;
  }

  .pre-content__item:nth-child(4) {
    display: none;
  }

  .pre-content__item:nth-child(5) {
    display: none;
  }

  .header__burger {
    display: block;
  }

  .pre-content__item {
    font-size: 0.7rem;
  }
}

@media (max-width: 540px) {
  .pre-content__item:nth-child(6) {
    display: none;
  }

  .pre-content__item:nth-child(9) {
    display: none;
  }

  .pre-content__item:nth-child(12) {
    display: none;
  }

  .content__row {
    margin-top: 1rem;
  }

  .container-my {
    max-width: 100%;
  }

  .container {
    padding: 0;
  }

  .pre-content {
    display: none;
  }

  .nav__input {
    display: none;
  }

  .breadcr__list {
    display: none;
  }

  .breadcr__row {
    padding: 0 0.5rem;
  }

  .breadcr__att {
    display: none;
  }

  .read__row {
    padding-left: 1.2rem;
  }

  .nav__list {
    display: none;
  }

  .nav__item:nth-child(1) {
    margin-right: 2rem;
  }

  .nav__item:nth-child(2) {
    display: none;
  }

  .nav__item:nth-child(3) {
    display: none;
  }

  .read__text {
    font-size: 0.7rem;
  }

  .main__title {
    font-size: 1.5rem;
  }

  .reg__list {
    max-width: 100%;
  }

  .reg__item {
    list-style: none;
    padding: 0.3rem;
  }

  .info__text {
    line-height: 30px;
  }

  .info__answer {
    margin-left: 2rem;
  }

  .footer__list {
    flex-wrap: wrap;
  }

  .recommend__row {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .published__img img {
    width: 9%;
  }

  .nav__input input {
    width: 100px;
  }

  .main__title {
    font-size: var(--title-size-sd);
    margin-top: 1rem;
  }

  .info__name {
    font-size: 15px;
  }

  .info__answer {
    margin-left: 0;
  }

  .date__item {
    font-size: 15px;
  }

  .footer__list {
    margin-bottom: 0.3rem;
  }

  .footer__text {
    margin-top: 0.3rem;
  }
}
